.cli{
  height:200px;
width:200px;
  background:blue;
  font-size:20px;
  border-radius:10%;
}
.inp{
  height:50px;
width:200px;
background:green;
font-size:20px;
}
.btn{
height:100px;
width:200px;
background:red;
font-size:100px;
  border-radius:10%;
}