@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
.ld{
  list-style:none; 
  border:1px solid #c0c0c0;
  float:left; 
}
.gnt{
				width:100px;
				height:100px;
}
.menu{
				width:10px;
				height:10px;
}
.rl{
background-color:#0003f2;
margin: auto;
font-family: 'Open Sans Condensed', sans-serif;
font-size: 50px;
text-align: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bgr{
				width:180px; 
				height:50px;
				padding-top:0px;
padding-bottom:25px;
border-radius:10%;
border-style:outset;
border-color:#0003e6;
border-width:5px;
transform:translatey(-60px) translatex(50px);
}